{
  "parser": "@typescript-eslint/parser",
  "extends": [
    "react-app",
    "plugin:@typescript-eslint/recommended",
    "plugin:prettier/recommended"
  ],
  "plugins": ["prettier"],
  "rules": {
    "prettier/prettier": [
      "error",
      {
        "semi": false,
        "trailingComma": "all",
        "singleQuote": true,
        "arrowParens": "always"
      }
    ],
    "curly": ["error", "multi-line"]
  }
}